#content-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#event-log {
    grid-column: 1 / 5;
    grid-row: 9 / 11;
    overflow-y: auto;
    padding: 0 0.5rem;
    border-top: 2px solid grey;
}

.event-row {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85rem;
}

.event-time {
    margin-right: 1rem;
}

.event-time::before {
    content: "[";
}

.event-time::after {
    content: "]";
}

#metrics-container {
    grid-column: 4 / 5;
    grid-row: 1 / 9;
    border-left: 2px solid grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
}

.metrics-header, .current-metrics-container, .metrics-game-runtime {
    flex: none;
}

.metrics-list {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.metrics-entry {
    font-size: 0.75rem;
    line-height: 0.80rem;
}

.metrics-game-runtime {
    font-size: 1.5rem;
}

.metrics-game-runtime::before {
    content: "Current Playtime: ";
    font-weight: bold;
}

.current-metric {
    font-size: 1.25rem;
    text-align: center;
}

.current-cap-rate::before {
    content: "Capture Rate: ";
}

.current-avg-lifetime::before {
    content: "Average Lifetime: ";
}

.current-miss-count::before {
    content: "Misses: ";
}

.current-bomb-count::before {
    content: "Bombs: ";
}

.current-break-count::before {
    content: "Breaks: ";
}

.game-list-container {
    grid-column: 1 / 4;
    grid-row: 1 / 9;

    display: flex;
    flex-direction: column;
}

.game-selector-container {
    flex: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.25rem 0;
    border-bottom: 2px solid grey;
}

.game-selector {
    font-size: 2rem;
    text-decoration: underline;
    opacity: 0.6;
    transition: opacity 0.5s;
    cursor: pointer;
    margin: 0 1rem;
}

.game-selector.selected, .game-selector:hover {
    opacity: 1.0;
    transition: opacity 0.5s;
}

.game-list {
    flex: 1;
    width: 100%;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
}

.current-game {
    flex: none;
    width: 100%;
    padding: 0 0.5rem;
    margin-top: 0.25rem;
}

.game-header-container {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.game-header-container .game-summary-row {
    border-bottom: none;
}

.game-header-container:last-child {
    border-bottom: 1px solid black;
}

.game-details-entry, .game-location-list-header, .game-location-list-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.25rem;
}

.game-details-row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 1px;
    background-color: black;
    border: 1px solid black;
    border-top: none;
}

.game-summary-row {
    border-top: 1px solid black;
}

.game-details-index {
    grid-column: 1 / 2;
}

.game-details-character {
    grid-column: 2 / 3;
}

.game-details-mode {
    grid-column: 3 / 5;
}

.game-details-location {
    grid-column: 5 / 9;
}

.game-details-result {
    grid-column: 9 / 10;
}

.game-details-location-count {
    grid-column: 10 / 11;
}

.game-details-duration {
    grid-column: 11 / 12;
}

.game-location-list-header {
    grid-column: 1 / 2;
}

.game-location-list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    background-color: black;
}

.game-header-container .game-details-entry {
    background: white;
}

.game-state-cleared .game-details-entry, .game-state-cleared .game-location-list-entry {
    background: lightgreen;
}

.game-state-normal .game-details-entry, .game-state-normal .game-location-list-entry {
    background: white;
}

.game-state-failed .game-details-entry, .game-state-failed .game-location-list-entry {
    background: rgb(255, 167, 167);
}

.game-state-running .game-details-entry, .game-state-running .game-location-list-entry {
    background: lightblue;
}